<nav class="navbar navbar-expand-lg text-bg-secondary navbar-dark">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'blog.index' %}active{% endif %}"
                       aria-current="page" href="{% url 'blog:blog.index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'blog.create' %}active{% endif %}"
                       aria-current="page" href="{% url "blog:blog.create" %}">Add a New Blog</a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class=" nav-item">
                        <a class="nav-link" aria-current="page" href="#">Abhilash B K</a>
                    </li>
                    <li class="dropdown">
                        <div class="rounded-circle btn btn-primary" style="width: 35px;height: 35px;"
                             type="button" data-bs-toggle="dropdown"
                             aria-expanded="false">
                        </div>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Dashboard</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class=" nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'authentication:login' %}">Login</a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'authentication:register' %}">Register</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>