{% extends 'todo/base.html' %}

{% block title %} All my Todos {% endblock title %}

{% block mainContent %}
    <h1 class="text-center">All My Todos</h1>
    <div class="container vstack gap-3 rounded">
        {% include "message-alert.html" %}
        {% if not todos %}
            <h1 class="text-center text-bg-warning py-5">No Todos Found!</h1>
            <a href="{% url 'todos:todos.create' %}" class="btn btn-primary align-self-center">Add New Todos</a>
        {% endif %}
        {% for todo in todos %}
            <div class="border rounded-2 d-flex flex-row justify-content-between align-items-center shadow-sm py-1 px-3"
                 style="height: 100px">
                <div class="w-50">
                    <div class="hstack gap-1">
                        <p class="h3 ">{{ todo.todo }}
                        </p>
                        {% if todo.completed %}
                            <span class="badge text-bg-success rounded-pill" style="font-size: 12px">Completed</span>
                        {% endif %}
                    </div>
                    <small class="text-muted">{{ todo.created_at }}</small>
                </div>
                <div class="">
                    {% if not todo.completed %}
                        <a class="btn btn-success" href="{% url 'todos:todos.toggle' todo.id %}">Mark As Completed</a>
                        <a class="btn btn-secondary" href="{% url 'todos:todos.update' todo.id %}">Update Todo</a>
                    {% else %}
{#                        <button class="btn btn-success">Completed</button>#}
                    {% endif %}
                    <a class="btn btn-danger" href="{% url 'todos:todos.delete' todo.id %}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock mainContent %}